<!DOCTYPE html>
<html ng-app='cameraStore'>
  <head>
    <title>hi World</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
    <script src='camera-store-app.js'></script>
    <link rel='stylesheet' href='style.css'>
  </head>
  <body>
    <div ng-controller="CameraController">
      <h1>Camera Shoppe</h1>

      <p>{{sortType | json}}</p>

      <select ng-model='sortType'>
        <option value='rating'>Rating</option>
        <option value='price'>Price</option>
      </select>

      <div ng-repeat="camera in cameras" | orderBy:sortType>
        <div>
          <h4>{{camera.title}}</h4>
          <p ng-class="{true: 'sale'}[camera.onSale == true]">Price: ${{camera.price}} {{camera.onSale === true? "SALE!!!" : ''}}</p>
          <p>Rating: {{camera.rating}}</p>
          <img ng-src="{{camera.image}}" alt="Picture of {{camera.title}}"/>
        </div>
      </div>

    </div> 
  </body>
</html>