<!-- <!-- <!-- <!--  
 <div ng-controller="MyFirstController">
      <ul>
        <li ng-repeat="name in names">
          {{name}}
        </li>
      </ul>
      <ul>
        <li ng-repeat="symbol in symbols">
          {{symbol}}
        </li>
      </ul>
      <ul>
        <li ng-repeat='num in nums track by $index'>
          {{num}}
        </li>
      </ul>
    </div>

 


 --> --> --> -->


  <hr><hr>


    <h1>plz fill out!</h1>

    <form>
      <div>
        <label for='boysname'>boy's name</label>
        <input type='text' name='boysname' ng-model='boysname'></input>
      </div>
      <div>
        <label for='adjective'>adjective</label>
        <input type='text' name='adjective' ng-model='adjective'></input>
      </div>
      <div>
        <label for='pluralNoun'>plural noun</label>
        <input type='text' name='pluralNoun' ng-model='pluralNoun'></input>
      </div>
      <div>
        <label for='pluralinsect'>plural insect</label>
        <input type='text' name='pluralinsect' ng-model='pluralinsect'></input>
      </div>
      <div>
        <label for='pluralNoun2'>plural noun</label>
        <input type='text' name='pluralNoun2' ng-model='pluralNoun2'></input>
      </div>
      <div>
        <label for='verb'>verb ending in 's'</label>
        <input type='text' name='verb' ng-model='verb'></input>
      </div>
      <div>
        <input type='submit' value='Generate!' ng-click='showlib = !showlib'></input>
      </div>
      <br>
      <h2>mad libz</h2>
      <h4 ng-hide='!showlib'>I'm in love with {{boysname | uppercase}}. He's so {{adjective | uppercase}}!\n
          He has big flat {{pluralNoun | uppercase}}, and when our {{pluralinsect}}\n
          meet, I get {{pluralNoun2 | uppercase}} in my stomach. I've\n
          fallen for him like a ton of {{verb | uppercase}}, and he\n
          shuffles for me, too. But I think he's got\n
          another girlfriend.What shou ldI do?
      </h4>










    <hr>


    <h1>v nice tip calc</h1>
    <p>how much ur food?
      <input ng-model='price' type='text'></input>
    </p>
    <p>how much u tip?</p>
    <select ng-model='percentage'>
      <option value='10'>10%</option>
      <option value='15'>15%</option>
      <option value='20'>20%</option>
    </select>

    <h3>Subtotal: {{price | currency}}</h3>
    <h3>Tip: {{((percentage * .01) * price) | currency}}













    <hr>

    <p>Say something to the world <input type="text" ng-model="greeting" ng-init="greeting='Hello, '"></p>
    <p>{{ greeting }} world!</p>

    <input ng-model="name" type="text" placeholder="What is your name?">

    <select ng-model="thingILove">
      <option>dogs</option>
      <option>cats</option>
      <option>dogs+cats</option>
    </select>

    <h2>I love {{thingILove}}</h2>

    <p>{{3.14159265359 | currency : ""}}€</p>

    <h1>My name is: {{name}}</h1>

    <label for='this'>please say something
    <input ng-model='something' type='text' name='this'></input>

    <h2>yelling: {{something | uppercase}}</h2>
    <!-- <h2>whisper: {{something | }} -->


<!--     <p>{{3.14159265359 | number:3}}</p>
    <p>{{3.14159265359 | number:6}}</p>
    <p>{{3.14159265359 | number:1}}</p>



    <h3>how many digits of pi do you want?</h3>
    <select ng-model="digits">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
    </select>

    <h2>Nice! The first {{digits}} digits of pi 4 u!</h2>
    <h1>{{3.14159265359 | number: digits}}</h1> -->




